body{
  font-family: 'Maven Pro', sans-serif;

}

h1 {
margin-left: 5vw;
font-size: 10vh;
}
h2{
  margin-left: 5vw;
  font-size: 8vh;
}
h5{
  text-align: center;
  font-size: 3vh;
}
p {
  text-align: justify;
  font-size: 2vh;
}

/*.slider {
  height: 900px;
 text-shadow: 2px 1px 1px black;
}
.slider img {
  filter: grayscale(70%);

}
.slider h2 {
  font-size: 10vh;
}
.slider h1 {
  font-size: 13vh;
}*/

nav{
  padding-left: 5vw;
  padding-right: 5vw;
}
.top {
  min-height: 100vh;
  background-image: url(../pics/rain2.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.inside {
font-weight: bold;
color: white;
}
.topbutton {
  margin-left: 33%;

}
.med {
  /*color: darkBlue;*/

}
i {
  color: rgb(0, 28, 73);
  opacity: 0.5;
  margin-left: 33%;

}

.boxes {
  display: flex;
  align-items:  flex-start;
  justify-content: space-around;
  padding-left: 10vw;
  padding-right: 10vw;

}
.box {
  width: 20vw;

}
.s1 {
  background-image: url(../pics/catalog2.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: top;
}
.s1 .card {
  width: 40vw;
  margin-top: 40vh;
  margin-left: 30vw;
  padding: 3vh;
  box-shadow:  0px -5px 22px 0px rgba(0,0,0,0.75);

}
.s1 .card img {
  width: 20vw;
  margin-left: 40%;
}
.s2 {
  background-image: url(../pics/grandparents-and-babies2.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: top;
}
.s2 .card {
  margin-left: 40vw;
  margin-right: 2vw;
  padding: 2vh;
  box-shadow:  0px -5px 22px 0px rgba(0,0,0,0.75);
  opacity: 0.9;
}
.S2 .card img {
  margin-left: 5vw;
}
.box2 {
  width: 20vw;
  margin: 5vw;
  border-top: 1px solid grey;
}
.reset-padding-top {
  padding-top: 0px;
}
